@import '../mixins/variables';

.category-thumbnails {
	.thumbnails-view {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		transform: translateZ(0);

		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.thumbnails-inner {
		position: relative;

		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		padding: 10rem;

		background: rgba(white, 0.925);

		transition: all $transition-thumbnails;
		will-change: transform, opacity, visibility;
	}

	.btn-exit {
		position: absolute;
		top: 2rem;
		right: 2rem;

		height: 10rem;
		width: 10rem;

		background: $color-charcoal;
		border-radius: 50%;
		box-shadow: 0 0 0 2px rgba($color-charcoal, 0) inset;
		color: white;

		transition: all $transition;

		&:hover, .-show-focus &:focus {
			box-shadow: 0 0 0 2px $color-charcoal inset;
			color: $color-charcoal;
			background: rgba($color-charcoal, 0);
		}

		&::after {
			content: '\f00d';

			@include font-icon;
		}
	}

	.category-heading {
		position: absolute;
		top: 7rem;
		width: 100%;
		transform: translateY(-50%);

		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.04em;
		font-size: 6rem;

		transition: all $transition;

		.label {
			opacity: 0.6;
		}
	}

	.thumbnail-scroll {
		max-height: 100%;
		overflow-y: auto;
	}

	.thumbnail-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		align-content: center;
		width: 100%;
		max-width: 250rem;
		height: 100%;
		padding: 5rem;

		.thumbnail {
			position: relative;

			width: 80rem;
			padding: 5rem;

			@for $i from 1 through 12 {
				&:nth-child(#{ $i }) {
					.thumbnail-inner {
						transition: all $transition;
							// opacity $transition #{ 0.5s + $i * 0.0625s }, 
							// transform $transition #{ 0.5s + $i * 0.0625s };
					}
				}
			}

			.thumbnail-inner {
				position: relative;
				transform: rotateZ(0);

				display: block;
				width: 100%;
				padding-bottom: 100%;

				&:hover, .-show-focus &:focus {
					.thumbnail-image {
						img {
							transform: scale(1.2) rotate(10deg) translateZ(0);

							opacity: 0.45;
						}
					}

					.thumbnail-content {
						transform: translateY(0);

						.text {
							transform: scale(0.9);

							// opacity: 0.75;
						}

						&::after {
							opacity: 1;
							visibility: visible;
						}
					}
				}

				.thumbnail-image, .thumbnail-content {
					position: absolute;
					top: 0;
					left: 0;

					width: 100%;
					height: 100%;
				}

				.thumbnail-image {
					overflow: hidden;

					opacity: 0.4;

					@supports (filter: brightness(110%)) {
						filter: brightness(110%);
						// opacity: 0.9;
					}

					img {
						transform: translateZ(0);

						color: transparent;
						opacity: 0.3;

						transition: all $transition;

						// @supports (mix-blend-mode: screen) {
						// 	mix-blend-mode: screen;
						// }
					}
				}

				.thumbnail-content {
					transform: translateY(1em);

					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					padding: 10rem;

					color: $color-charcoal;

					text-transform: uppercase;
					@include font-body-bold;
					text-align: center;
					letter-spacing: 0.04em;

					transition: transform $transition;

					.text {
						transition: all $transition;
					}

					&::after {
						content: 'View website';

						display: flex;
						align-items: center;
						height: 10rem;
						padding: 0 4rem;
						margin-top: 5rem;

						opacity: 0;
						visibility: hidden;
						background: white;
						border-radius: 5rem;
						color: $color-charcoal;

						// font-size: 0.8em;
						font-size: 4rem;

						transition: all $transition;
					}
				}
			}
		}
	}
}

.t-thumbnails-leave-active {
	transition: all $transition-thumbnails;

	.thumbnails-inner {
		transform: scale(1.1);
	}
}

.t-thumbnails-leave {
	transform: scale(1);

	opacity: 1;

	.thumbnail-list {
		.thumbnail {
			.thumbnail-inner {
				transform: translateY(0);

				opacity: 1;
			}
		}
	}
}

.t-thumbnails-leave-to {
	transform: scale(1.1);

	opacity: 0;
}

.t-thumbnails-enter {
	.thumbnails-inner {
		transform: scale(1.1);

		opacity: 0;
	}

	.thumbnail-list {
		.thumbnail {
			.thumbnail-inner {
				// transform: translateY(50%);

				opacity: 0;
			}
		}
	}
}