@import '../mixins/variables';

.category-thumbnails {
	.thumbnails-view {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		transform: translateZ(0);

		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.btn {
		pointer-events: all;
	}

	.btn-close-thumbnails {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		width: calc(100% - 24rem);
		height: 100%;
		min-height: 100vh;

		cursor: url('~/assets/img/cursor-close.svg'), auto;
	}

	.thumbnails-inner {
		position: relative;
		transform: translateZ(0);

		display: flex;
		align-items: center;
		align-content: center;
		height: 100%;
		width: 100%;
		overflow: hidden;

		background: $color-bg;

		transition: all $transition-thumbnails;
		will-change: transform, opacity, visibility;

		.thumbnail-scroll {
			max-height: 100%;
			width: calc(100% + 20px);
			padding: 15rem;
			padding-right: calc(15rem + 20px);
			flex: 0 0 auto;
			overflow-y: auto;

			@supports (-webkit-overflow-scrolling: touch) {
				overflow-y: scroll;
				-webkit-overflow-scrolling: touch;
			}
		}
	}

	.thumbnail-list {
		position: relative;

		width: 100%;
		margin: 0 auto;
		height: 100%;
		padding: 5rem;

		pointer-events: none;

		.thumbnail {
			position: relative;
			transform: translateZ(0);

			display: block;

			text-align: center;

			// $transition: 0.65 map-get($ease, out-quad);

			.thumbnail-inner {
				position: relative;
				transform: rotateZ(0);

				display: inline-block;

				text-transform: uppercase;
				text-align: center;
				font-size: 20rem;
				@include font-display-black;

				transition: all $transition;

				pointer-events: all;

				.thumbnail-image, .thumbnail-background, .thumbnail-text {
					transition: all $transition;
				}

				.thumbnail-image, .thumbnail-background {
					transform: translateZ(0);
					position: absolute;
					top: 0;
					left: 0;

					display: none;
					width: 100%;

					opacity: 0;
					-webkit-background-clip: text;
					-webkit-text-fill-color: rgba(black, 0);

					@supports (-webkit-background-clip: text) {
						display: block;
					}
				}

				@include hover {
					transform: scale(1.1) translateZ(0);

					.thumbnail-text {
						opacity: 0;

						// @supports (-webkit-text-stroke-color: white) {
						// 	transform: rotate(67deg) scale(1.1);

						// 	color: rgba($color-charcoal, 0);
						// 	opacity: 0;
						// 	-webkit-text-stroke-width: 1px;
						// 	-webkit-text-stroke-color: $color-charcoal;
						// }
					}

					.thumbnail-background {
						opacity: 1;
					}

					.thumbnail-image {
						opacity: 0.2;
					}
				}

			}
		}
	}

	.btn-exit {
		position: absolute;
		top: $control-padding;
		right: $control-padding;
		z-index: 10;
	}

	.category-heading {
		position: absolute;
		top: 7rem;
		width: 100%;
		transform: translateY(-50%);
		z-index: 10;

		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.04em;
		font-size: 6rem;

		transition: all $transition;

		* {
			position: relative;
		}

		.label {
			opacity: 0.6;
		}
	}

	.category-nav {
		position: absolute;
		top: 50%;
		right: $control-padding;
		transform: translateY(-50%);
		z-index: 10;

		/deep/ .category-buttons {
			display: block;

			.list-item {
				&:not(:first-child) {
					margin-left: 0;
					margin-top: 3rem;
				}
			}

			.button-default {
				.button-icon {
					&::after {
						top: 50%;
						left: -4rem;

						transform: translate3d(-80%, -50%, 0);
					}
				}

				@include hover {
					.button-icon {
						&::after {
							transform: translate3d(-100%, -50%, 0);
						}
					}
				}
			}
		}
	}
}

.t-thumbnails-leave-active {
	transition: all $transition-thumbnails;

	.thumbnails-inner {
		transform: scale(1.1) translateZ(0);
	}
}

.t-thumbnails-leave {
	transform: scale(1) translateZ(0);

	opacity: 1;

	.thumbnail-list {
		.thumbnail {
			.thumbnail-inner {
				transform: translateY(0) translateZ(0);

				opacity: 1;
			}
		}
	}
}

.t-thumbnails-leave-to {
	transform: scale(1.1) translateZ(0);

	opacity: 0;
}

.t-thumbnails-enter {
	.thumbnails-inner {
		transform: scale(1.1) translateZ(0);

		opacity: 0;
	}

	.thumbnail-list {
		.thumbnail {
			.thumbnail-inner {
				// transform: translateY(50%);

				opacity: 0;
			}
		}
	}
}

.t-thumbnail-item-enter-active, .t-thumbnail-item-move {
	transition: all 0.35s map-get($ease, out-quad);
}

.t-thumbnail-item-leave-active {
	transition: all 0.35s map-get($ease, out-quad),
		opacity 0.1s;
}

.t-thumbnail-item-enter {
	opacity: 0;

	transform: translateY(50%) translateZ(0) !important;
}

.t-thumbnail-item-leave-to {
	transform: translateY(-50%) translateZ(0) !important;

	opacity: 0;
}

.t-thumbnail-item-leave-active {
	position: absolute !important;
	z-index: -1;

	height: 0;

	width: calc(100% - 10rem);
}