@import '../mixins/variables';

.icon-list {
    display: flex;
    padding: 0;
    margin: 0;

    list-style-type: none;

    @include font-ui-black;
    font-size: 5rem;

    .list-item {
        position: relative;

        pointer-events: auto;

        &:not(:first-child) {
            margin-left: 3rem;
        }
    }
}
