@import '../mixins/variables';

.portfolio {
    padding-top: $body-padding-top;

    @include bp($max-width) {
        padding-top: $body-padding-top-desktop;
    }

    @include bp(tablet) {
        padding-top: $body-padding-top-tablet;
    }

    @include bp(mobile) {
        padding-top: $body-padding-top-mobile;
    }

    .resize-observer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        pointer-events: none;
        visibility: hidden;
    }
}
