@import '../mixins/variables';

$bg-gradient: linear-gradient(to bottom, $color-bg 0%, white 100%);

.site-header {
	position: fixed;
	transform: translateZ(-1px);

	height: 100%;
	width: 100%;

	background: $color-bg;

	@include font-display-black;

	transition: all $transition-thumbnails;
	will-change: transform, filter;

	&.-thumbnails-open {
		transform: scale(0.9) translateZ(-1px);

		// filter: blur(5px);

		.project-shadow {
			opacity: 0 !important;

			transition: none !important;
		}
	}

	.inner {
		position: relative;

		width: 100%;
		height: 100%;
	}

	.project-mask {
		position:  absolute;
		top: 0;
		left: 0; 

		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;

		&.-active {
			z-index: 5;

			.project-shadow {
				opacity: 1;

				.shadow {
					.nav-icon {
						&::after {
							opacity: 1;
						}
					}
				}

				.shadow-left {
					transform: translate3d(-100%, 0, 0);
				}

				.shadow-right {
					transform: translate3d(100%, 0, 0);
				}
			}

			.animate-mask &, .low-res & {
				.text-mask {
					transform: scale(1) rotateZ(0);
				}
			}

			.project-layer {
				svg {
					transform: scale(1) rotateZ(0) !important;
					transition-duration: 2s !important;
				}
			}

			.project-info {
				opacity: 1;
			}
		}

		&.-animate-out {
			overflow: hidden;

			pointer-events: none;

			.project-shadow {
				.shadow {
					opacity: 0;
				}
			}

			.animate-mask & {
				.text-mask {
					transform: scale(0.5) rotateZ(0);
				}
			}

			.no-animate-mask & {
				.mask-svg {
					.svg {
						transform: translate(-50%, -50%) scale(0.5) rotateZ(0);
					}
				}
			}

			.project-layer {
				@for $i from -1 through 1 {
					&[data-depth="#{ $i }"] {
						svg {
							transform: scale(#{ 0.5 + 0.25 * $i }) rotateZ(0) !important;
						}
					}
				}
			}

			.project-info {
				opacity: 0;
			}

			&.-left {
				.mask-inner {
					transform: translateX(-100%);
				}

				.svg-container {
					transform: translateX(100%);
				}

				.project-shadow {
					.shadow-right {
						transform: translate3d(10rem, 0, 0);
					}

					.shadow-left {
						transform: translate3d(-100%, 0, 0) translateX(-10rem);
					}
				}
			}

			&.-right {
				.mask-inner {
					transform: translateX(100%);
				}

				.svg-container {
					transform: translateX(-100%);
				}
				
				.project-shadow {
					.shadow-left {
						transform: translate3d(-10rem, 0, 0);
					}

					.shadow-right {
						transform: translate3d(100%, 0, 0) translateX(10rem);
					}
				}
			}

			&.-left, &.-right {
				.project-shadow {
					.shadow {
						transition: all $transition-reveal-delayed, opacity 1.25s cubic-bezier(0.23, 1, 0.32, 1) 0.75s;
					}
				}
			}
		}

		&.-animate-in {
			z-index: 4;

			.project-shadow {
				opacity: 1;

				.shadow {
					transition: transform 0.5s 0.5s;
				}
				
				.shadow-left {
					transform: translate3d(-100%, 0, 0);
				}
				
				.shadow-right {
					transform: translate3d(100%, 0, 0);
				}
			}

			.animate-mask & .text-mask, .project-layer svg {
				transform: scale(1) rotateZ(0) !important;
			}

			.project-info {
				opacity: 1;
			}
		}

		.mask-inner {
			position: absolute;
			left: 0;
			top: 0;
			transform: translateZ(0);

			height: 100%;
			width: 100%;
			overflow: hidden;

			background: $color-bg;

			transition: all $transition-reveal-delayed;
			will-change: transform;
		}

		.svg-container {
			position: relative;
			width: 100%;
			height: 100%;

			transition: all $transition-reveal-delayed;
		}

		.mask-svg {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);

			.svg-inner {
				position: relative;

				overflow: hidden;
				width: 100vw;
				height: (100vw * 2 / 3);
				min-height: 72vh;
				max-height: 100%;
			}

			.svg, .project-layer {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);

				width: 100%;
				min-width: 150vh;
				max-width: 1600px;
			}

			.project-layer {
				pointer-events: none;
			}

			.no-animate-mask & {
				.svg {
					transition: transform $transition-reveal;
					will-change: transform;
				}

				.svg-clipped {
					clip-path: none !important;
				}
			}

			.animate-mask & {
				.svg-clipped {
					mask: none !important;
				}
			}

			.btn-enter-project {
				fill: transparent;
				cursor: pointer;
			}

			text {
				fill: white;

				@include font-mask;
				font-size: 1000px;
			}

			.text-shadow {
				opacity: 0.5;
			}

			.project-hero {
				opacity: 0.35;
				mix-blend-mode: multiply;

				image {
					transform: translateZ(0);
				}
			}
		}

		.text-mask {
			.animate-mask & {
				transform: scale(0.1) rotateZ(0);
				transform-origin: center;

				transition: all $transition-reveal;
				will-change: transform;
			}

			rect {
				opacity: 0;

				transition: opacity $transition-enter;
			}
		}

		.project-layer {
			svg {
				transform-origin: center;

				transition: all $transition-reveal;
				will-change: transform;
			}
		
			@for $i from -1 through 1 {
				&[data-depth="#{ $i }"] {
					svg {
						transform: scale(#{ 0.1 + 0.05 * $i }) rotateZ(0);

						transition-duration: #{ 2 - $i * 0.5 }s;
					}
				}
			}

			image {
				transform: translate(-50%, -50%);
			}
		}

		.mask-canvas {
			position: absolute;
			top: 0;
			left: 0;

			width: 100%;
			height: 100%;
		}
	}

	.project-info {
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		transform: translateY(-50%) translateZ(0);
		z-index: 1;

		display: flex;
		width: 100%;
		max-width: 1024px;
		height: 100%;
		// max-height: 72vh;
		max-height: 1024px;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		margin: 0 auto;
		padding: 15rem;

		color: $color-charcoal;

		pointer-events: none;

		transition: opacity 1s;

		.project-title {
			width: 5.5em;
			max-width: 100%;

			font-size: 37.5rem;
			text-transform: uppercase;
			letter-spacing: -0.02em;
			line-height: 0.875em;
			text-align: right;

			pointer-events: auto;

			div {
				overflow: hidden;
				padding: 0.03em;

				display: inline-block;

				span {
					display: inline-block;
				}
			}

		}

		.project-tools {
			display: flex;
			margin-top: 2vh;
		}
	}

	.project-shadow {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100vh;

		opacity: 0;

		pointer-events: none;

		transition: all 0s 0.5s;

		.shadow {
			position: absolute;
			top: 0;
			z-index: 10;

			height: 100%;
			width: 100%;
			overflow: hidden;
		}

		.shadow-left {
			left: 0;
			transform: translate3d(-100%, 0, 0);

			background: linear-gradient(to right, transparent 0%, rgba(black, 0.4) 80%, rgba(black, 0.4) 100%);
		}

		.shadow-right {
			right: 0;
			transform: translate3d(100%, 0, 0);

			background: linear-gradient(to left, transparent 0%, rgba(black, 0.4) 80%, rgba(black, 0.4) 100%);
		}
	}

	.project-nav {
		&.-disabled {
			.nav-item {
				opacity: 0.5;
			}
		}

		.btn-thumbnails {
			position: fixed;
			top: 2rem;
			right: 2rem;
			z-index: 100;
		}

		.nav-item {
			position: fixed;
			top: 50vh;
			z-index: 100;
			transform: translateY(-50%);

			transition: all $transition;

			&:hover, .-show-focus &:focus {
				.nav-icon {
					box-shadow: 0 0 0 2px $color-charcoal inset;
					color: $color-charcoal;
					background: rgba($color-charcoal, 0);
				}
			}

			.nav-icon {
				transform: translateZ(0);

				display: flex;
				justify-content: center;
				align-items: center;
				width: 10rem;
				height: 10rem;

				background: $color-charcoal;
				box-shadow: 0 0 0 2px rgba($color-charcoal, 0) inset;
				color: $color-bg;
				border-radius: 50%;

				transition: all $transition;

				&::after {
					@include font-icon;
					font-size: 5rem;
				}
			}
		}

		.nav-prev {
			left: 2rem;

			.nav-icon {
				&::after {
					content: '\f060';
				}
			}
		}

		.nav-next {
			right: 2rem;

			.nav-icon {
				&::after {
					content: '\f061';
				}
			}
		}
	}

	@media screen and (max-width: 1024px) {
		.project-info {
			.project-title {
				font-size: 30rem;
			}
		}
	}

	@media screen and (max-width: 768px) {
		.project-info {
			.project-title {
				font-size: 24rem;
			}
		}
	}

	@media screen and (max-width: 576px) {
		.svg-inner {
			transform: translateY(-20%);
		}
		
		.svg {
			opacity: 0.9;
		}

		.project-info {
			padding: 10rem;

			.project-title {
				font-size: 16vw;
				text-align: center;
			}

			.project-tools {
				display: flex;
				width: 100%;
				flex-direction: column;
				align-items: center;

				> * {
					margin-top: 3rem;
				}

				.icon-list {
					.list-item {
						&:first-child {
							margin-left: 0;
						}
					}
				}

				.icon-list-collab {
					.button-icon {
						width: auto;

						border: 0;
						border-radius: 0;

						&::after {
							position: relative;
							left: auto;
							bottom: auto;
							top: auto;
							transform: none !important;

							padding: 0;

							background: transparent;
							color: $color-charcoal;
							border-bottom: 2px solid $color-charcoal;
							opacity: 1;
							border-radius: 0;
							visibility: visible;
							box-shadow: none;
						}

						.fa-icon {
							display: none;
						}
					}
				}
			}
		}
	}
}