@import '../mixins/variables';

$project-scale: 0.625;

@keyframes position-absolute {
	0%, 99% {
		position: fixed;
	}

	100% {
		position: absolute;
	}
}

@keyframes cursor {
	0%, 99% {
		cursor: url('~/assets/img/cursor-arrow-down.svg') -8 22, n-resize;
	}

	100% {
		cursor: url('~/assets/img/cursor-arrow-up.svg') -8 -22, s-resize;
	}
}

.site-header {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateZ(-1px);

	height: 100vh;
	width: 100%;

	background: $color-bg;

	@include font-display-black;

	transition: all $transition-thumbnails;
	will-change: transform;

	&.-thumbnails-open {
		transform: scale(0.9) translateZ(-1px);

		.project-shadow {
			opacity: 0 !important;

			transition: none !important;
		}
	}

	&.-banner {
		// animation: position-absolute $transition-enter forwards;

		background: $color-bg--darker;

		.btn-enter-project {
			animation: cursor $transition-enter forwards;

			_::-webkit-full-page-media, _:future, :root & {
				cursor: url('~/assets/img/cursor-arrow-up.svg') -8 -22, s-resize;
			}
		}

		.project-mask {
			transform: translateY(-100%) translateY(#{ $body-padding-top }) translateZ(0);

			&:not(.-active):not(.-animate-in):not(.-animate-out) {
				display: none;
			}

			.mask-inner {
				overflow: visible;

				background: $color-bg--darker;
			}

			.mask-svg {
				transform: translate3d(-50%, -50%, 0) translateY(30vh);

				opacity: 0.8;
			}

			.project-info {
				.project-tools {
					.project-buttons {
						.btn-enter {
							transform: translateY(-80%);

							opacity: 0;
							visibility: hidden;
						}

						.btn-exit {
							transform: translateY(0);

							opacity: 1;
							visibility: visible;
						}
					}
				}
			}
		}

		.project-nav {
			// transform: scale(1.1) rotateZ(0);

			// opacity: 0;

			.nav-item {
				transform: translate3d(0, -100%, 0) translateY(-50vh) translateY(98rem) !important;
			}
		}
	}

	.inner {
		position: relative;

		width: 100%;
		height: 100%;
	}

	.project-mask {
		position:  absolute;
		top: 0;
		left: 0; 
		transform: translateZ(0);

		display: none;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;

		opacity: 0;

		transition: all $transition-enter,
			opacity 0s 2s;
		will-change: transform; 

		&.-active, &.-animate-out, &.-animate-in {
			display: flex;

			opacity: 1;
		}

		&.-animate-in {
			transition: all $transition-enter, opacity $transition 0.1s;
		}

		&.-active {
			z-index: 5;

			.project-shadow {
				opacity: 1;

				.shadow {
					.nav-icon {
						&::after {
							opacity: 1;
						}
					}
				}

				.shadow-left {
					transform: translate3d(-100%, 0, 0);
				}

				.shadow-right {
					transform: translate3d(100%, 0, 0);
				}
			}

			.animate-mask &, .low-res & {
				.text-mask {
					transform: scale(1) rotateZ(0);
				}
			}

			.project-info {
				opacity: 1;
			}
		}

		&.-animate-out {
			overflow: hidden;

			pointer-events: none;

			.project-shadow {
				.shadow {
					opacity: 0;
				}
			}

			.animate-mask & {
				.text-mask {
					@media screen and (-webkit-min-device-pixel-ratio: 0) {
						transform: scale($project-scale) rotateZ(0);
					}
				}
			}

			.no-animate-mask & {
				.mask-svg {
					.svg {
						@media screen and (-webkit-min-device-pixel-ratio: 0) {
							transform: translate(-50%, -50%) scale($project-scale) rotateZ(0);
						}
					}
				}
			}

			.mask-inner {
				overflow: hidden !important;
			}

			.project-info {
				opacity: 0;
			}

			&.-left {
				.mask-inner {
					transform: translateX(-100%);
				}

				.svg-container {
					transform: translateX(100%);
				}

				.project-shadow {
					.shadow-right {
						transform: translate3d(0, 0, 0);
					}
				}
			}

			&.-right {
				.mask-inner {
					transform: translateX(100%);
				}

				.svg-container {
					transform: translateX(-100%);
				}
				
				.project-shadow {
					.shadow-left {
						transform: translate3d(0, 0, 0);
					}
				}
			}

			&.-left, &.-right {
				.project-shadow {
					.shadow {
						transition: all $transition-reveal-delayed, opacity 1.25s cubic-bezier(0.23, 1, 0.32, 1) 0.75s;
					}
				}
			}
		}

		&.-animate-in {
			z-index: 4;

			.project-shadow {
				opacity: 1;

				.shadow {
					transition: transform 0.5s 0.5s;
				}
				
				.shadow-left {
					transform: translate3d(-100%, 0, 0);
				}
				
				.shadow-right {
					transform: translate3d(100%, 0, 0);
				}
			}

			.animate-mask & .text-mask {
				transform: scale(1) rotateZ(0) !important;
			}

			.project-info {
				opacity: 1;
			}
		}

		.mask-inner {
			position: absolute;
			left: 0;
			top: 0;
			transform: translateZ(0);

			height: 100%;
			width: 100%;
			overflow: hidden;

			background: $color-bg;

			pointer-events: none;

			transition: all $transition-reveal-delayed, background $transition-enter;
			will-change: transform;
		}

		.svg-container {
			position: relative;
			width: 100%;
			height: 100%;

			transition: all $transition-reveal-delayed;
		}

		.mask-svg {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate3d(-50%, -50%, 0);

			transition: all $transition-enter;
			will-change: transform;

			.svg-inner {
				position: relative;

				overflow: hidden;
				width: 100vw;
				height: (100vw * 2 / 3);
				min-height: 72vh;
				max-height: 100%;
			}

			.svg {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);

				width: 100%;
				min-width: 150vh;
				max-width: 1600px;
			}

			.no-animate-mask & {
				.svg {
					transition: transform $transition-reveal;
					will-change: transform;
				}

				.svg-clipped {
					clip-path: none !important;
				}
			}

			.animate-mask & {
				.svg-clipped {
					mask: none !important;
				}
			}

			text {
				fill: white;

				@include font-mask;
				font-size: 1000px;
			}

			.project-hero {				
				opacity: 0.35;
				mix-blend-mode: multiply;

				transition: all $transition;

				image {
					transform: translateZ(0);
				}
			}

			.project-hero, .gradient-overlay {
				pointer-events: none;

				will-change: opacity;
			}

			.gradient-overlay, .gradient-backdrop {
				transition: all $transition-enter;
			}
		}

		.text-mask {
			.animate-mask & {
				@media screen and (-webkit-min-device-pixel-ratio: 0) {
					transform: scale($project-scale) rotateZ(0);
					transform-origin: center;

					transition: all $transition-reveal;
					will-change: transform;
				}
			}

			rect {
				opacity: 0;

				transition: opacity $transition-enter;
			}
		}

		.mask-canvas {
			position: absolute;
			top: 0;
			left: 0;

			width: 100%;
			height: 100%;
		}
	}

	.btn-enter-project {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;

		height: calc(100vh - 30rem);
		width: calc(#{ $max-width } - 30rem);
		max-width: calc(100vw - 30rem);

		text-align: center;

		cursor: url('~/assets/img/cursor-arrow-down.svg') -8 22, n-resize;

		.-show-focus &:focus {
			z-index: 2;

			.button-inner {
				opacity: 1;
				visibility: visible;
			}
		}

		.button-inner {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);

			display: flex;
			align-items: center;
			justify-content: center;
			width: 100vw;
			height: 100%;
			padding: 2rem;

			opacity: 0;
			background: rgba(black, 0.5);
			visibility: hidden;

			text-transform: uppercase;
			font-size: 8rem;

			transition: all $transition;
		}
	}

	.project-info {
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		transform: translateY(-50%) translateZ(0);
		z-index: 1;

		display: flex;
		width: 100%;
		max-width: $max-width;
		height: 100%;
		max-height: $max-width;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		margin: 0 auto;
		padding: 15rem 30rem;

		color: $color-charcoal;

		pointer-events: none;

		transition: opacity 1s;
		will-change: opacity;

		.project-title {
			width: 5.5em;
			max-width: 100%;

			font-size: 37.5rem;
			text-transform: uppercase;
			letter-spacing: -0.02em;
			line-height: 0.875em;
			text-align: right;

			pointer-events: none;

			transition: all $transition-reveal;

			div {
				overflow: hidden;
				padding: 0.03em;

				display: inline-block;

				span {
					display: inline-block;
				}
			}

		}

		.project-tools {
			display: flex;
			align-items: flex-end;
			margin-top: 10rem;

			transition: all $transition-enter;
			will-change: opacity; 

			pointer-events: all;

			.tool-label {
				opacity: 0.7;

				text-transform: uppercase;
				line-height: 1;
				@include font-display-semibold;
			}

			.icon-list-collab {
				display: flex;
				align-items: center;

				font-size: 5rem;
				@include font-display-black;
				text-transform: uppercase;
				letter-spacing: 0.05em;

				a {
					color: inherit;

					.text {
						border-bottom: 2px solid currentColor;
					}
				}
			}

			.project-buttons {
				position: relative;

				.btn {
					min-width: 45rem;

					transition: all $transition;

					/deep/ .button-icon {
						min-width: 100%;
					}
				}

				.btn-exit {
					position: absolute;
					top: 0;
					right: 0;
					transform: translateY(100%);

					opacity: 0;
					visibility: hidden;
				}
			}

			@media screen and (min-width: 577px) {
				.icon-list {
					&:not(:first-child) {
						margin-left: 3rem;
					}
				}

				.project-buttons {
					&:not(:first-child) {
						margin-left: 6rem;

						&::after {
							content: '';

							position: absolute;
							left: -3rem;
							top: 50%;
							transform: translateY(-50%);

							display: block;
							height: calc(100% - 3rem);
							width: 2px;

							background: $color-charcoal;
						}
					}
				}
			}
		}
	}

	.project-shadow {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100vh;

		opacity: 0;

		pointer-events: none;

		transition: all 0s 0.5s;

		.shadow {
			position: absolute;
			top: 0;
			z-index: 10;

			height: 100%;
			width: 100%;
			overflow: hidden;
		}

		.shadow-left {
			left: -1px;
			transform: translate3d(-100%, 0, 0);

			background: linear-gradient(to right, transparent 0%, rgba($color-charcoal, 0.1) 80%, rgba($color-charcoal, 0.1) 100%);
			box-shadow: 1px 0 0 rgba($color-charcoal, 0.5);
		}

		.shadow-right {
			right: -1px;
			transform: translate3d(100%, 0, 0);

			background: linear-gradient(to left, transparent 0%, rgba($color-charcoal, 0.1) 80%, rgba($color-charcoal, 0.1) 100%);
			box-shadow: -1px 0 0 rgba($color-charcoal, 0.5);
		}
	}

	.project-nav {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		transform: rotateZ(0);

		width: 100%;
		height: 100vh;

		transition: all $transition-enter;

		pointer-events: none;

		&.-disabled {
			.nav-item, .btn-thumbnails {
				opacity: 0.5;

				@include hover {
					.button-icon {
						background: transparent !important;
					}
				}
			}
		}

		.btn-thumbnails, .btn-exit, .nav-item, .btn-exit-project {
			position: absolute;

			pointer-events: all;
		}

		.btn-thumbnails {
			top: $control-padding;
			right: $control-padding;
		}

		.nav-item {
			top: 50%;
			transform: translateY(-50%);

			transition: all $transition-enter;
		}

		.nav-prev {
			left: $control-padding;
		}

		.nav-next {
			right: $control-padding;
		}
	}

	@media screen and (max-width: $max-width) {
		&.-banner {
			.project-mask {
				transform: translateY(-100%) translateY(90rem) translateZ(0);
			}

			.project-nav {
				.nav-item {
					transform: translate3d(0, -100%, 0) translateY(-50vh) translateY(80rem) !important;
				}
			}
		}

		.project-nav {
			.nav-next, .btn-thumbnails {
				right: 10rem;
			}

			.btn-thumbnails {
				top: 10rem;
			}

			.nav-prev {
				left: 10rem;
			}
		}

		.project-info {
			padding: 10rem 26rem;

			.project-title {
				font-size: 30rem;
			}
		}
	}

	@media screen and (max-width: 768px) {
		.project-info {
			.project-title {
				font-size: 24rem;
			}
		}
	}

	@media screen and (max-width: 576px) {
		.svg-inner {
			transform: translateY(-25%);
		}
		
		.svg {
			min-width: 120vh !important;
			opacity: 0.9;
		}

		.project-info {
			padding-bottom: 5rem;
			align-items: center;

			.project-title {
				font-size: 13vw;
				text-align: center;
			}

			.project-tools {
				display: flex;
				width: 100%;
				flex-direction: column;
				align-items: center;

				> * {
					margin-top: 3rem;
				}
			}
		}
	}
}

.fade-enter-active {
	transition: opacity 1s $transition-spinner-delay;
	will-change: opacity;
}

.fade-enter-to {
	opacity: 1;
}

.fade-enter {
	opacity: 0;
}
