@import '../mixins/variables';

@keyframes outline {
	0% {
		stroke-dashoffset: 1px;
		stroke-dasharray: 8px;
	}

	30% {
		stroke-dashoffset: 100px;
		stroke-dasharray: 16px;
	}

	60% {
		stroke-dasharray: 7000px;
		stroke-dashoffset: -7000px;
	}

	// 65% {
	// 	stroke-dasharray: 1000px;
	// 	stroke-dashoffset: -7000px;
	// }

	// 90% {
	// 	stroke-dashoffset: -7000px;
	// 	stroke-dasharray: 7000px;
	// }

	90% {
		stroke-dashoffset: -7000px;
		stroke-dasharray: 8px;
	}

	99% {
		stroke-dashoffset: -7000px;
		stroke-dasharray: 0px;
	}
}

@keyframes fill-in {
	0% {
		fill: rgba($color-charcoal, 0);
	}

	100% {
		fill: $color-charcoal;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {		
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
		visibility: visible;
	}

	100% {		
		opacity: 0;
		visibility: hidden;
	}
}

.spinner {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0) scale(0.25);
	z-index: 1000;

	width: 100vw;
	height: (100vw * 2 / 3);
	min-height: 72vh;
	max-height: 100%;

	transition: all 1s $transition-spinner-delay, transform $transition-spinner;
	will-change: opacity, transform;

	animation: fade-in 0.5s forwards;

	&.-loaded {
		transform: translate3d(-50%, -50%, 0) scale(1);

		animation: fade-out 0.5s $transition-spinner-delay forwards;

		.text-stroke {
			stroke-width: 4px;

			animation: outline 0.35s reverse !important;
		}
	}

	.spinner-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);

		display: block;
		width: 100%;
		min-width: 150vh;
		max-width: 1600px;
	}

	.text {
		transform: rotateZ(0);

		@include font-mask;
		dominant-baseline: central;
	}

	.text-stroke {
		fill: rgba(black, 0);
		stroke-width: 16px;
		stroke: $color-charcoal !important;

		animation: outline 4s infinite;
		transition: stroke-width $transition-spinner;
	}
}