<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<title></title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Thirst Studios PTY LTD">
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<meta name="twitter:card" content="Thirst Studios">
	<meta name="twitter:site" content="@thirststudios">
	<meta name="twitter:url" property="og:url" content="http://thirststudios.com/">
	<meta name="twitter:title" property="og:title" content="Thirst Studios">
	<meta name="twitter:description" property="og:description" content="">
	<meta name="twitter:image" property="og:image" content="http://thirststudios.com/public/assets/img/thirst-office-1.jpg">

	<link rel="stylesheet" href="/assets/css/styles.css">

	<script type="text/javascript" src="/assets/js/dependencies.js"></script>

	<link rel="shortcut icon" href="/assets/img/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="/assets/img/favicon.ico">
	<link rel="icon" type="image/png" sizes="64x64" href="/assets/img/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16.png">

</head>

<body class="site">

	{% include 'svg-symbols.html' %}
