@font-face {
	font-family: "FontAwesome";
	src: url('../assets/fonts/fontawesome-webfont.woff2') format('woff2');
	src: url('../assets/fonts/fontawesome-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}