@import url('https://fonts.googleapis.com/css?family=Varta:400,700');

@font-face {
    font-family: 'Tropikal';
    src: url('~/assets/fonts/tropikal.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Stanley';
    src: url('~/assets/fonts/stanley.woff2');
    font-weight: 400;
}
