@import '../mixins/variables';

html {
	--color-bg--hsl: 0, 0%, 45%;
	--color-bg--darker--hsl: 0, 0%, 40%;
	--color-light--hsl: 0, 0%, 95%;
	--color-light--darker--hsl: 0, 0%, 90%;

	--color-text--hsl: 0, 0%, 30%;
	--color-text--darker--hsl: 0, 0%, 25%; 

	&.--accessible {
		--color-bg--hsl: 0, 0%, 10%;
		--color-bg--darker--hsl: 0, 0%, 0%;
	
		--color-text--hsl: 0, 0%, 10%;
		--color-text--darker--hsl: 0, 0%, 0%;
	}

	--color-content-bg--hsl: var(--color-light--hsl);
	--color-content-text--hsl: var(--color-text--hsl);

	&.--light {
		--color-bg--hsl: 0, 0%, 90%;
		--color-bg--darker--hsl: 0, 0%, 95%;
		--color-light--hsl: 0, 0%, 10%;
		--color-light--darker--hsl: 0, 0%, 0%;

		--color-text--hsl: 0, 0%, 95%;
		--color-text--darker--hsl: 0, 0%, 100%;

		--color-content-bg--hsl: 0, 0, 100%;
		--color-content-text--hsl: 0, 0%, 15%;
	}

	--color-bg: hsl(var(--color-bg--hsl));
	--color-bg--darker: hsl(var(--color-bg--darker--hsl));
	--color-light: hsl(var(--color-light--hsl));
	--color-light--darker: hsl(var(--color-light--darker--hsl));

	--color-text: hsl(var(--color-text--hsl));
	--color-text--darker: hsl(var(--color-text--darker--hsl));

	--color-content-bg: white;
	--color-content-text: #444;

	background: var(--color-bg);
	color: var(--color-light);
}

.resize-observer {
	visibility: hidden;
}