html {
	background: $color-body-bg;
	color: $color-charcoal;
	
	&.-about {
		.project-mask {
			&.-active {
				&::before, &::after {
					transform: scaleX(1);
				}

				.project-nav {
					.nav-item {
						height: calc(100% - 20rem);

						&::after {
							opacity: 0;
						}
					}
				}
			}
		}

		.section-about {
			opacity: 1;
			visibility: visible;
		}
	}
}

.resize-observer {
	visibility: hidden;
}