html {
	font-size: $rem-size;
}

body {
	@include font-body-light();
	font-size: 5rem;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4 {
	@include font-display-black;
}

h1 {
	font-size: 3em;

	& + * {
		margin-top: 8rem;
	}
}

h2 {
	font-size: 2.5em;

	& + * {
		margin-top: 16rem;
	}
}

h3 {
	font-size: 8rem;

	& + * {
		margin-top: 4rem;
	}
}

h4 {
	font-size: 1.25em;

	& + * {
		margin-top: 4rem;
	}
}

p, .body {
	@include font-body-light;
	line-height: 1.75em;
}

a {
	text-decoration: inherit;
	font-weight: inherit;
}

.link {
	@include font-body-bold;
	text-decoration: underline;
}

.-strike {
	text-decoration: line-through; 
}
