/* specific cms wysiwyg styling */
.wysiwyg {

	p:empty {
		margin: 0;
		padding: 0;
		height: 0;
	}

	ul {
		padding-left: 5rem;

		line-height: 1.75em;

		li {
			position: relative;

			&::before {
				content: '';

				position: absolute;
				left: -5rem;
				top: 0.5625em;

				width: 2rem;
				height: 2rem;

				background: #ccc;
				border-radius: 50%;
			}
		}
	}

	blockquote {
		padding: 1rem 0 1rem 6rem;
		margin: 10rem 0;
		
		border-left: #ccc solid 1rem;
		color: #777;

		font-size: 6rem;
	}
}
