@function ease($key) {
	@if map-has-key($ease, $key) {
		@return map-get($ease, $key);
	}

	@warn "Unkown '#{$key}' in $ease.";
	@return null;
}

@keyframes spinner-left {
	0% {
		stroke-dashoffset: -180;
	}

	50% {
		stroke-dashoffset: 120;
	}

	70% {
		stroke-dashoffset: 120;
	}

	100% {
		stroke-dashoffset: 240;
	}
}

@keyframes spinner-right {
	0% {
		stroke-dashoffset: -120;
	}

	50% {
		stroke-dashoffset: 0;
	}

	65% {
		stroke-dashoffset: 0;
	}

	100% {
		stroke-dashoffset: 180;
	}
}
