// COLORS

$color-charcoal: #1A1A1A;
$color-bg: #E9E9E9;

// FONTS

$font-display: 'korolev-condensed', 'Arial', sans-serif;
$font-mask: 'korolev', 'Arial', sans-serif;
$font-body: 'korolev', 'Arial', sans-serif;
$font-icon: 'FontAwesome', 'Arial', sans-serif;

@mixin font-display-black() {
	font-family: $font-display;
	font-weight: 900;
}

@mixin font-display-semibold() {
	font-family: $font-display;
	font-weight: 600;
}

@mixin font-mask() {
	font-family: $font-mask;
	font-weight: 900;
}

@mixin font-body-light() {
	font-family: $font-body;
	font-weight: 300;
}

@mixin font-body-bold() {
	font-family: $font-body;
	font-weight: 700;
}

@mixin font-icon() {
	font-family: $font-icon;
}


// LAYOUT

$bp-desktop: 1200px;

$table-gutter: 3rem;

// TYPOGRAPHY 

$rem-size: 4px;
$font-size-small: 10px;

// ANIMATION

$ease: (
	in-quad:      cubic-bezier(0.550,  0.085, 0.680, 0.530),
	in-cubic:     cubic-bezier(0.550,  0.055, 0.675, 0.190),
	in-quart:     cubic-bezier(0.895,  0.030, 0.685, 0.220),
	in-quint:     cubic-bezier(0.755,  0.050, 0.855, 0.060),
	in-sine:      cubic-bezier(0.470,  0.000, 0.745, 0.715),
	in-expo:      cubic-bezier(0.950,  0.050, 0.795, 0.035),
	in-circ:      cubic-bezier(0.600,  0.040, 0.980, 0.335),
	in-back:      cubic-bezier(0.600, -0.280, 0.735, 0.045),
	out-quad:     cubic-bezier(0.250,  0.460, 0.450, 0.940),
	out-cubic:    cubic-bezier(0.215,  0.610, 0.355, 1.000),
	out-quart:    cubic-bezier(0.165,  0.840, 0.440, 1.000),
	out-quint:    cubic-bezier(0.230,  1.000, 0.320, 1.000),
	out-sine:     cubic-bezier(0.390,  0.575, 0.565, 1.000),
	out-expo:     cubic-bezier(0.190,  1.000, 0.220, 1.000),
	out-circ:     cubic-bezier(0.075,  0.820, 0.165, 1.000),
	out-back:     cubic-bezier(0.175,  0.885, 0.320, 1.275),
	in-out-quad:  cubic-bezier(0.455,  0.030, 0.515, 0.955),
	in-out-cubic: cubic-bezier(0.645,  0.045, 0.355, 1.000),
	in-out-quart: cubic-bezier(0.770,  0.000, 0.175, 1.000),
	in-out-quint: cubic-bezier(0.860,  0.000, 0.070, 1.000),
	in-out-sine:  cubic-bezier(0.445,  0.050, 0.550, 0.950),
	in-out-expo:  cubic-bezier(1.000,  0.000, 0.000, 1.000),
	in-out-circ:  cubic-bezier(0.785,  0.135, 0.150, 0.860),
	in-out-back:  cubic-bezier(0.680, -0.550, 0.265, 1.550)
);

$transition: 0.35s cubic-bezier(0.23, 1, 0.32, 1);
$transition-reveal: 2s cubic-bezier(0.23, 1, 0.32, 1);
$transition-reveal-delayed: 1.5s cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
$transition-enter-time: 1s;
$transition-enter: $transition-enter-time cubic-bezier(0.23, 1, 0.32, 1);
$transition-enter-delay: 0.35s;
$transition-thumbnails: 0.5s map-get($ease, out-quad);


// hover/focus/active

@mixin hover () {
	.portfolio:not(.-hide-hover) &:hover, .-show-focus &:focus, .-hide-hover &:active {
		@content;
	}
}
